body {
    background-color: #f0f0f0;
}
section {
    background-color: white;
}
section, iframe {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.col-lg-6 > * {
    width: 90%;
    margin: 0 auto;
    display: block;
}
.title {
    text-align: center;
}
.service-info li, p {
    font-size: 20px;
}

.service-img {
    
    border-radius: 8px;
}
.video-container {
    text-align: center;
    outline: none;
    margin: 1rem;
}
iframe {
    text-align: center;
    border-radius: 8px;
}

@media screen and (max-width: 600px){
    section {
        width: 100%;
    }
    .col-lg-6 {
        padding: 0;
    }
    .hidden-desktop {
        display: block;
    }
    .show-desktop {
        display: none;
    }
    .service-img {
        height: 10rem;
        width: 100%;
    }
    iframe {
        width: 100%;
        height: 200px;
    }
}
@media screen and (min-width: 600px){
    section {
        width: 70%;
        margin: 0 auto;
        display: block;
        padding: 1rem;
    }
    .hidden-desktop {
        display: none;
    }
    .service-img {
        height: 20rem;
        width: 90%;
    }
    iframe {
        width: 80%;
        height: 500px;
    }
}