body {
    background-color: #f0f0f0;
}
section {
    width: 80%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 1rem 2rem;
}
.title {
    text-align: center;
}
.service-info li, p {
    font-size: 20px;
}
.service-img {
    width: 100%;
    height: 20rem;
    border-radius: 8px;
}
.video-container {
    text-align: center;
    margin: 1rem;
}
iframe {
    text-align: center;
    border: solid 1px black;
    border-radius: 8px;
}

@media screen and (max-width: 600px){
    iframe {
        width: 100%;
        height: 200px;
    }
}
@media screen and (min-width: 600px){
    iframe {
        width: 80%;
        height: 500px;
    }
}